.small-12.columns
  jc-spinner(ng-show="vm.isLoading")
  ul.quotes
    li(ng-repeat='quote in vm.quotes',ng-click="changeView('/quote/edit/' + quote._id)").quote.animate
      p {{quote.text}} - {{quote.author}} {{quote.source}}
      span(ng-repeat='tag in quote.tags').label.label-info {{tag}}