.small-12.columns
  include message    
  .quote.quote-random.animate-show(ng-click="refresh()")
    include spinner
    div(ng-show="!isLoading")
      p.quote-text {{quote.text}}
      p.quote-author {{quote.author}} {{quote.source}}
    